<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<!--  <conversionRule conversionWord="clr"-->
<!--    class="org.springframework.boot.logging.logback.ColorConverter"/>-->
<!--  <conversionRule conversionWord="wex"-->
<!--    class="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>-->
<!--  <conversionRule conversionWord="wEx"-->
<!--    class="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>-->

  <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
  <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
  <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
  <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
  <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
  <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
  <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
  <logger name="org.springframework.boot.actuate.endpoint.jmx" level="WARN"/>

  <conversionRule conversionWord="cl"
    converterClass="dev.slne.surf.cloud.standalone.spring.config.logback.ColorConverter0"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <!--    <encoder>-->
    <!--      <pattern>${FILE_LOG_PATTERN}</pattern>-->
    <!--      <charset>${FILE_LOG_CHARSET}</charset>-->
    <!--    </encoder>-->
    <file>logs/latest.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
      <cleanHistoryOnStart>false</cleanHistoryOnStart>
      <maxFileSize>10MB</maxFileSize>
      <totalSizeCap>1GB</totalSizeCap>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
    <encoder>
      <pattern>%cl([%d{HH:mm:ss}] ){faint} %cl([%t/%level]){} %cl( %logger{0}: ){faint} %cl(%m){${level.color}}%n
<!--        %wEx-->
      </pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>